@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300&family=Sacramento&family=Source+Sans+Pro:wght@200;400&display=swap');


:root{
    --color1:rgba(235, 235, 235, 0.67);
    --color2: #F5ABC9;
    --color3: #171717;
    --color4: white;
    --color5 : white;
    
}

html{
    margin:0%;
    padding: 0%; 
}

header{
    
    background-color: var(--color2);
    padding: 1rem;
}

a {
    text-decoration: none;
}

nav{
    margin:1rem 1rem 1rem 1rem;
}

.peppaSpeech{
    text-align: center;
    color: var(--color5);
    margin: 1rem;
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
}

main{
    margin: 2rem;
}

#inputTextArea, #outputTextArea{
    width: 40%;
    font-family: sans-serif,Arial;
    min-height: 30vh;
}

.background-img{
    position: fixed;
    right: 0%;
    bottom: 0%;
    height: 40%;
    z-index: -1;
}

body{
    text-align: center;
    
    margin: 0%;
    background-color: var(--color4);
}

footer{
	display: flex;
	flex-direction: column;
    position: relative;
    bottom: 0%;
    width: 100%;
    margin: none;
    background-color: var(--color2);
    padding: 1rem 0;
    border-radius: 1rem 1rem 0 0;
    color: var(--color5);
}

.footer-nav{
    margin:1rem 1rem 1rem 1rem;
    display: flex;
    bottom: 0%;
    justify-content: space-around;
    width: 60%;
    margin: auto;
	
}

.navLinks{
	display: flex;
	justify-content: space-evenly;
    list-style: none;
    float: right;
    vertical-align: middle;
    width: 60%;
	right: 0;
}

	
.footer-text{
    text-align: center;
    margin: 0.8rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.social-media{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.fb-images{
    width: 2rem;
}

.fb-images:hover{
    transform: scale(1.15);
}

.feedback-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	text-decoration: none;
	color: var(--color5);
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
}
.feedback-resume:hover{
    transform: scale(1.15);
	text-decoration: underline;
}

.nav-p{
	float: left;
}

.navLinks a{
    color: var(--color5);
    margin: 1rem;
}

.navLinks a:hover{
    text-decoration: underline;
}

#btnTranslate{
    margin: 0.5rem auto 0.5rem auto;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--color2);
    color:var(--color5);
    font-weight: 300;
}



#btnTranslate:hover{
    text-decoration: underline;
}